# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# prisma
prisma/generated
prisma/generated/*
prisma/seed.ts
prisma/migrations
prisma/backup
altin.py
crawler.py
altinfiyatlari.json
altinfiyatlari.xlsx
postgres_import.py

altinfiyatlari_ceyrek.json
altinfiyatlari_gram.json


# Crawler data files
/data/
import_historical_data.py
TCMB_Doviz_Kurlari_Arsiv_2020-01-01_2025-05-06.csv
update_asset_prices.py
python/
prisma/backup/